@use '../utils/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-snap-type: y proximity;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: variables.$color-base-cream;
  color: variables.$color-primary-navy;
  font-family: variables.$font-body;
  font-weight: variables.$font-weight-regular;
  line-height: 1.6;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  font-family: inherit;
}